<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bakery.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitItemController</servlet-name>
    <servlet-class>com.bakery.controller.SubmitItemController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.bakery.controller.DeleteController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterationController</servlet-name>
    <servlet-class>com.bakery.controller.RegisterationController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayController</servlet-name>
    <servlet-class>com.bakery.controller.DisplayController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>com.bakery.controller.OrderController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatusController</servlet-name>
    <servlet-class>com.bakery.controller.StatusController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegController</servlet-name>
    <servlet-class>com.bakery.controller.RegController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyItemController</servlet-name>
    <servlet-class>com.bakery.controller.ModifyItemController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderPlaceController</servlet-name>
    <servlet-class>com.bakery.controller.OrderPlaceController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>com.bakery.beans.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitItemController</servlet-name>
    <url-pattern>/SubmitItemController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterationController</servlet-name>
    <url-pattern>/RegisterationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayController</servlet-name>
    <url-pattern>/DisplayController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatusController</servlet-name>
    <url-pattern>/StatusController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegController</servlet-name>
    <url-pattern>/RegController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyItemController</servlet-name>
    <url-pattern>/ModifyItemController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderPlaceController</servlet-name>
    <url-pattern>/OrderPlaceController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertOrderController</display-name>
    <servlet-name>InsertOrderController</servlet-name>
    <servlet-class>com.bakery.controller.InsertOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOrderController</servlet-name>
    <url-pattern>/InsertOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingOrdersController</display-name>
    <servlet-name>PendingOrdersController</servlet-name>
    <servlet-class>com.bakery.controller.PendingOrdersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingOrdersController</servlet-name>
    <url-pattern>/PendingOrdersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptOrRejectOrderController</display-name>
    <servlet-name>AcceptOrRejectOrderController</servlet-name>
    <servlet-class>com.bakery.controller.AcceptOrRejectOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptOrRejectOrderController</servlet-name>
    <url-pattern>/AcceptOrRejectOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressController</display-name>
    <servlet-name>AddressController</servlet-name>
    <servlet-class>AddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressController</servlet-name>
    <url-pattern>/AddressController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressController1</display-name>
    <servlet-name>AddressController1</servlet-name>
    <servlet-class>com.bakery.controller.AddressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressController1</servlet-name>
    <url-pattern>/AddressController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressUpdateController</display-name>
    <servlet-name>AddressUpdateController</servlet-name>
    <servlet-class>com.bakery.controller.AddressUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressUpdateController</servlet-name>
    <url-pattern>/AddressUpdateController</url-pattern>
  </servlet-mapping>
</web-app>